USE [master]
GO
/****** Object:  Database [Quan_ly_sinh_vien]    Script Date: 5/17/2018 11:42:52 AM ******/
CREATE DATABASE [Quan_ly_sinh_vien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan_ly_sinh_vien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TC\MSSQL\DATA\Quan_ly_sinh_vien.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Quan_ly_sinh_vien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TC\MSSQL\DATA\Quan_ly_sinh_vien_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quan_ly_sinh_vien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quan_ly_sinh_vien]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](100) NOT NULL,
	[PassWord] [nvarchar](100) NOT NULL DEFAULT ((0)),
	[Type] [int] NOT NULL DEFAULT ((3)),
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Typename] [nvarchar](100) NULL,
	[typeid] [int] NOT NULL,
 CONSTRAINT [PK__AccountT__3213E83FA44B7FDB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bang_diem]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bang_diem](
	[Ma_sinh_vien] [char](10) NOT NULL,
	[Ma_hoc_phan] [char](10) NOT NULL,
	[Diem_chuyen_can] [nchar](10) NULL,
	[Diem_thuong_xuyen] [nchar](10) NULL,
	[Diem_cuoi_ky] [nchar](10) NULL,
	[Diemchu] [varchar](10) NULL,
	[Diemhe4] [nchar](10) NULL,
 CONSTRAINT [SV_HP] PRIMARY KEY CLUSTERED 
(
	[Ma_sinh_vien] ASC,
	[Ma_hoc_phan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Giao_vien]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Giao_vien](
	[Ma_Giao_Vien] [char](10) NOT NULL,
	[Ten_giao_vien] [nvarchar](50) NULL,
	[Gioi_tinh] [bit] NULL,
	[Hoc_vi] [nvarchar](30) NULL,
	[Dia_chi] [nvarchar](50) NULL,
	[Ma_khoa] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Giao_Vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hoc_ky]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hoc_ky](
	[Ma_hoc_ky] [char](10) NOT NULL,
	[Ten_hoc_ky] [nvarchar](30) NULL,
	[Thoi_gian_bat_dau] [date] NULL,
	[Thoi_gian_ket_thuc] [date] NULL,
	[Ma_lop] [char](10) NULL,
	[Nam_hoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_hoc_ky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hoc_phan]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hoc_phan](
	[Ma_hoc_phan] [char](10) NOT NULL,
	[Ten_hoc_phan] [nvarchar](30) NULL,
	[So_tin_chi] [int] NULL,
	[Ma_hoc_ky] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_hoc_phan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Khoa](
	[Ma_khoa] [char](10) NOT NULL,
	[Ten_khoa] [nvarchar](50) NULL,
	[Ma_cnkhoa] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KyHoc]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyHoc](
	[Makyhoc] [int] NOT NULL,
	[Tenhocky] [nvarchar](20) NOT NULL,
	[Manamhoc] [int] NULL,
 CONSTRAINT [PK_KyHoc] PRIMARY KEY CLUSTERED 
(
	[Makyhoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lop](
	[Ma_lop] [char](10) NOT NULL,
	[Ten_lop] [nvarchar](50) NULL,
	[Ma_khoa] [char](10) NULL,
	[Ma_giaoviencn] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lop_hoc_phan]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lop_hoc_phan](
	[Ma_lop_hoc_phan] [char](10) NOT NULL,
	[Ma_hoc_phan] [char](10) NULL,
	[Ma_giao_vien] [char](10) NULL,
	[So_sv_toi_da] [int] NULL,
	[Ngay_bat_dau] [date] NULL,
	[Thoi_gian_hoc] [nvarchar](50) NULL,
	[Giang_duong] [nvarchar](20) NULL,
	[Ngay_ket_thuc] [date] NULL,
	[Ngay_thi] [date] NULL,
	[Hinh_thuc_thi] [nvarchar](30) NULL,
	[MaKyHoc] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_lop_hoc_phan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Namhoc]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Namhoc](
	[Manamhoc] [int] NOT NULL,
	[Tennamhoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Namhoc] PRIMARY KEY CLUSTERED 
(
	[Manamhoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phieu_dang_ky]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phieu_dang_ky](
	[Ma_phieu] [char](10) NOT NULL,
	[Ma_sinh_vien] [char](10) NULL,
	[Ma_lop_hoc_phan] [char](10) NULL,
	[Lan_dang_ky] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_phieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sinh_vien]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sinh_vien](
	[Ma_sinh_vien] [char](10) NOT NULL,
	[Ten_sinh_vien] [nvarchar](50) NULL,
	[Ngay_sinh] [date] NULL,
	[Gioi_tinh] [nvarchar](5) NULL,
	[Dia_chi] [nvarchar](50) NULL,
	[Ma_lop] [char](10) NULL,
 CONSTRAINT [PK__Sinh_vie__D1CBC51D2BB4B4E9] PRIMARY KEY CLUSTERED 
(
	[Ma_sinh_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([UserName], [PassWord], [Type]) VALUES (N'admin', N'1', 1)
INSERT [dbo].[Account] ([UserName], [PassWord], [Type]) VALUES (N'giaovien1', N'1', 2)
INSERT [dbo].[Account] ([UserName], [PassWord], [Type]) VALUES (N'sinhvien2', N'1', 3)
SET IDENTITY_INSERT [dbo].[AccountType] ON 

INSERT [dbo].[AccountType] ([id], [Typename], [typeid]) VALUES (1, N'Admin', 1)
INSERT [dbo].[AccountType] ([id], [Typename], [typeid]) VALUES (2, N'Giáo viên', 2)
INSERT [dbo].[AccountType] ([id], [Typename], [typeid]) VALUES (3, N'Snh viên', 3)
SET IDENTITY_INSERT [dbo].[AccountType] OFF
INSERT [dbo].[Bang_diem] ([Ma_sinh_vien], [Ma_hoc_phan], [Diem_chuyen_can], [Diem_thuong_xuyen], [Diem_cuoi_ky], [Diemchu], [Diemhe4]) VALUES (N'SV1       ', N'06201151  ', N'6         ', N'7         ', N'8         ', N'A', N'7         ')
INSERT [dbo].[Bang_diem] ([Ma_sinh_vien], [Ma_hoc_phan], [Diem_chuyen_can], [Diem_thuong_xuyen], [Diem_cuoi_ky], [Diemchu], [Diemhe4]) VALUES (N'SV1       ', N'12100151  ', N'4         ', N'9         ', N'7.5       ', N'B', N'8         ')
INSERT [dbo].[Bang_diem] ([Ma_sinh_vien], [Ma_hoc_phan], [Diem_chuyen_can], [Diem_thuong_xuyen], [Diem_cuoi_ky], [Diemchu], [Diemhe4]) VALUES (N'sv1       ', N'12101151  ', N'6.4       ', N'9         ', N'9         ', N'A+', N'8         ')
INSERT [dbo].[Giao_vien] ([Ma_Giao_Vien], [Ten_giao_vien], [Gioi_tinh], [Hoc_vi], [Dia_chi], [Ma_khoa]) VALUES (N'GV1       ', N'Bùi Quốc Hưng', 1, N'TS', N'Hà Nội', N'1         ')
INSERT [dbo].[Giao_vien] ([Ma_Giao_Vien], [Ten_giao_vien], [Gioi_tinh], [Hoc_vi], [Dia_chi], [Ma_khoa]) VALUES (N'GV10      ', N'Lưu Hồng Dũng', 1, N'TS', N'Hà Nội', N'1         ')
INSERT [dbo].[Giao_vien] ([Ma_Giao_Vien], [Ten_giao_vien], [Gioi_tinh], [Hoc_vi], [Dia_chi], [Ma_khoa]) VALUES (N'GV11      ', N'Tạ Minh Thanh', 1, N'TS', N'Hà Nội', N'1         ')
INSERT [dbo].[Hoc_ky] ([Ma_hoc_ky], [Ten_hoc_ky], [Thoi_gian_bat_dau], [Thoi_gian_ket_thuc], [Ma_lop], [Nam_hoc]) VALUES (N'1         ', N'Học kỳ 1', CAST(N'2018-04-03' AS Date), NULL, N'CNTT14    ', N'2017-2018')
INSERT [dbo].[Hoc_ky] ([Ma_hoc_ky], [Ten_hoc_ky], [Thoi_gian_bat_dau], [Thoi_gian_ket_thuc], [Ma_lop], [Nam_hoc]) VALUES (N'2         ', N'Học kỳ 2', CAST(N'2018-04-03' AS Date), NULL, N'CNTT14    ', N'2017-2018')
INSERT [dbo].[Hoc_ky] ([Ma_hoc_ky], [Ten_hoc_ky], [Thoi_gian_bat_dau], [Thoi_gian_ket_thuc], [Ma_lop], [Nam_hoc]) VALUES (N'3         ', N'Học kỳ 3', CAST(N'2018-04-03' AS Date), NULL, N'CNTT14    ', N'2017-2018')
INSERT [dbo].[Hoc_phan] ([Ma_hoc_phan], [Ten_hoc_phan], [So_tin_chi], [Ma_hoc_ky]) VALUES (N'06201151  ', N'Quân sự chung', 2, N'1         ')
INSERT [dbo].[Hoc_phan] ([Ma_hoc_phan], [Ten_hoc_phan], [So_tin_chi], [Ma_hoc_ky]) VALUES (N'12100151  ', N'Hình giải tích', 3, N'1         ')
INSERT [dbo].[Hoc_phan] ([Ma_hoc_phan], [Ten_hoc_phan], [So_tin_chi], [Ma_hoc_ky]) VALUES (N'12101151  ', N'Giải tích 1', 4, N'1         ')
INSERT [dbo].[Khoa] ([Ma_khoa], [Ten_khoa], [Ma_cnkhoa]) VALUES (N'1         ', N'Công nghệ thông tin', N'1         ')
INSERT [dbo].[Khoa] ([Ma_khoa], [Ten_khoa], [Ma_cnkhoa]) VALUES (N'2         ', N'Khoa cơ khí', N'2         ')
INSERT [dbo].[Khoa] ([Ma_khoa], [Ten_khoa], [Ma_cnkhoa]) VALUES (N'3         ', N'Khoa động lực', N'3         ')
INSERT [dbo].[KyHoc] ([Makyhoc], [Tenhocky], [Manamhoc]) VALUES (1, N'Học kỳ1', 1)
INSERT [dbo].[KyHoc] ([Makyhoc], [Tenhocky], [Manamhoc]) VALUES (2, N'Học kỳ 2', 1)
INSERT [dbo].[KyHoc] ([Makyhoc], [Tenhocky], [Manamhoc]) VALUES (3, N'Học kỳ 1', 2)
INSERT [dbo].[Lop] ([Ma_lop], [Ten_lop], [Ma_khoa], [Ma_giaoviencn]) VALUES (N'CNPM14    ', N'Công nghệ phần mềm 14', N'1         ', N'GV4       ')
INSERT [dbo].[Lop] ([Ma_lop], [Ten_lop], [Ma_khoa], [Ma_giaoviencn]) VALUES (N'CNPM15    ', N'Công nghệ phần mềm 15', N'1         ', N'GV4       ')
INSERT [dbo].[Lop] ([Ma_lop], [Ten_lop], [Ma_khoa], [Ma_giaoviencn]) VALUES (N'CNPM16    ', N'Công nghệ phần mềm 16', N'1         ', N'GV4       ')
INSERT [dbo].[Lop_hoc_phan] ([Ma_lop_hoc_phan], [Ma_hoc_phan], [Ma_giao_vien], [So_sv_toi_da], [Ngay_bat_dau], [Thoi_gian_hoc], [Giang_duong], [Ngay_ket_thuc], [Ngay_thi], [Hinh_thuc_thi], [MaKyHoc]) VALUES (N'06201151  ', N'06201151  ', N'GV1       ', 100, CAST(N'2018-04-03' AS Date), NULL, N'H5 5315', NULL, CAST(N'2018-04-04' AS Date), N'Viết', NULL)
INSERT [dbo].[Lop_hoc_phan] ([Ma_lop_hoc_phan], [Ma_hoc_phan], [Ma_giao_vien], [So_sv_toi_da], [Ngay_bat_dau], [Thoi_gian_hoc], [Giang_duong], [Ngay_ket_thuc], [Ngay_thi], [Hinh_thuc_thi], [MaKyHoc]) VALUES (N'06201152  ', N'06201151  ', N'GV1       ', 100, CAST(N'2018-04-03' AS Date), NULL, N'H5 5315', NULL, CAST(N'2018-04-04' AS Date), N'Viết', NULL)
INSERT [dbo].[Lop_hoc_phan] ([Ma_lop_hoc_phan], [Ma_hoc_phan], [Ma_giao_vien], [So_sv_toi_da], [Ngay_bat_dau], [Thoi_gian_hoc], [Giang_duong], [Ngay_ket_thuc], [Ngay_thi], [Hinh_thuc_thi], [MaKyHoc]) VALUES (N'12101151 1', N'12101151  ', N'GV15      ', 100, CAST(N'2018-04-03' AS Date), NULL, N'H5 5315', NULL, NULL, N'Viết', N'1         ')
INSERT [dbo].[Namhoc] ([Manamhoc], [Tennamhoc]) VALUES (1, N'Năm học 2015-2016')
INSERT [dbo].[Namhoc] ([Manamhoc], [Tennamhoc]) VALUES (2, N'Năm học 2016-2017')
INSERT [dbo].[Namhoc] ([Manamhoc], [Tennamhoc]) VALUES (3, N'Năm học 2017-2018')
INSERT [dbo].[Sinh_vien] ([Ma_sinh_vien], [Ten_sinh_vien], [Ngay_sinh], [Gioi_tinh], [Dia_chi], [Ma_lop]) VALUES (N'SV1       ', N'Tiêu Năng Đạt', CAST(N'2018-04-02' AS Date), N'nam', N'Hà Nội', N'CNTT14    ')
INSERT [dbo].[Sinh_vien] ([Ma_sinh_vien], [Ten_sinh_vien], [Ngay_sinh], [Gioi_tinh], [Dia_chi], [Ma_lop]) VALUES (N'SV10      ', N'Đặng Quốc Đạt', CAST(N'2018-04-02' AS Date), N'nam', N'Hà Nội', N'CNTT14    ')
INSERT [dbo].[Sinh_vien] ([Ma_sinh_vien], [Ten_sinh_vien], [Ngay_sinh], [Gioi_tinh], [Dia_chi], [Ma_lop]) VALUES (N'SV2       ', N'Hoàng Văn Đông', CAST(N'2018-04-02' AS Date), N'nam', N'Hà Nội', N'CNTT14    ')
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountType] FOREIGN KEY([Type])
REFERENCES [dbo].[AccountType] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountType]
GO
ALTER TABLE [dbo].[Bang_diem]  WITH CHECK ADD  CONSTRAINT [FK__Bang_diem__Ma_ho__2B3F6F97] FOREIGN KEY([Ma_hoc_phan])
REFERENCES [dbo].[Hoc_phan] ([Ma_hoc_phan])
GO
ALTER TABLE [dbo].[Bang_diem] CHECK CONSTRAINT [FK__Bang_diem__Ma_ho__2B3F6F97]
GO
ALTER TABLE [dbo].[Bang_diem]  WITH CHECK ADD  CONSTRAINT [FK__Bang_diem__Ma_si__2C3393D0] FOREIGN KEY([Ma_sinh_vien])
REFERENCES [dbo].[Sinh_vien] ([Ma_sinh_vien])
GO
ALTER TABLE [dbo].[Bang_diem] CHECK CONSTRAINT [FK__Bang_diem__Ma_si__2C3393D0]
GO
ALTER TABLE [dbo].[Giao_vien]  WITH CHECK ADD FOREIGN KEY([Ma_khoa])
REFERENCES [dbo].[Khoa] ([Ma_khoa])
GO
ALTER TABLE [dbo].[Hoc_ky]  WITH CHECK ADD FOREIGN KEY([Ma_lop])
REFERENCES [dbo].[Lop] ([Ma_lop])
GO
ALTER TABLE [dbo].[Hoc_phan]  WITH CHECK ADD FOREIGN KEY([Ma_hoc_ky])
REFERENCES [dbo].[Hoc_ky] ([Ma_hoc_ky])
GO
ALTER TABLE [dbo].[KyHoc]  WITH CHECK ADD  CONSTRAINT [FK_KyHoc_Namhoc] FOREIGN KEY([Manamhoc])
REFERENCES [dbo].[Namhoc] ([Manamhoc])
GO
ALTER TABLE [dbo].[KyHoc] CHECK CONSTRAINT [FK_KyHoc_Namhoc]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([Ma_giaoviencn])
REFERENCES [dbo].[Giao_vien] ([Ma_Giao_Vien])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([Ma_khoa])
REFERENCES [dbo].[Khoa] ([Ma_khoa])
GO
ALTER TABLE [dbo].[Lop_hoc_phan]  WITH CHECK ADD FOREIGN KEY([Ma_giao_vien])
REFERENCES [dbo].[Giao_vien] ([Ma_Giao_Vien])
GO
ALTER TABLE [dbo].[Lop_hoc_phan]  WITH CHECK ADD FOREIGN KEY([Ma_hoc_phan])
REFERENCES [dbo].[Hoc_phan] ([Ma_hoc_phan])
GO
ALTER TABLE [dbo].[Phieu_dang_ky]  WITH CHECK ADD  CONSTRAINT [FK__Phieu_dan__Ma_si__35BCFE0A] FOREIGN KEY([Ma_sinh_vien])
REFERENCES [dbo].[Sinh_vien] ([Ma_sinh_vien])
GO
ALTER TABLE [dbo].[Phieu_dang_ky] CHECK CONSTRAINT [FK__Phieu_dan__Ma_si__35BCFE0A]
GO
ALTER TABLE [dbo].[Sinh_vien]  WITH CHECK ADD  CONSTRAINT [FK__Sinh_vien__Ma_lo__38996AB5] FOREIGN KEY([Ma_lop])
REFERENCES [dbo].[Lop] ([Ma_lop])
GO
ALTER TABLE [dbo].[Sinh_vien] CHECK CONSTRAINT [FK__Sinh_vien__Ma_lo__38996AB5]
GO
/****** Object:  StoredProcedure [dbo].[GetAccountByUserName]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAccountByUserName]
@username NVARCHAR(100)
AS
BEGIN
	SELECT * FROM dbo.Account WHERE UserName=@username
END	

GO
/****** Object:  StoredProcedure [dbo].[GetGiaoVien]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetGiaoVien]
AS
SELECT * FROM dbo.Giao_vien

GO
/****** Object:  StoredProcedure [dbo].[GetHocPhan]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetHocPhan]
AS
BEGIN
	SELECT * FROM dbo.Hoc_phan
END



GO
/****** Object:  StoredProcedure [dbo].[GetKetQuabyHocKy]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetKetQuabyHocKy]
@mahocky CHAR(10)
AS
BEGIN
	SELECT a.Ma_hoc_phan,b.Ten_hoc_phan,b.So_tin_chi,a.Diem_cuoi_ky,a.Diemchu,a.Diemhe4,c.Ten_hoc_ky 
FROM dbo.Bang_diem a,dbo.Hoc_phan b,dbo.Hoc_ky c 
WHERE a.Ma_hoc_phan=b.Ma_hoc_phan AND c.Ma_hoc_ky=b.Ma_hoc_ky AND b.Ma_hoc_ky=@mahocky
ORDER BY c.Ten_hoc_ky
END

GO
/****** Object:  StoredProcedure [dbo].[GetKetQuaCaNam]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetKetQuaCaNam]
AS
BEGIN
	SELECT a.Ma_hoc_phan,b.Ten_hoc_phan,b.So_tin_chi,a.Diem_cuoi_ky,a.Diemchu,a.Diemhe4,c.Ten_hoc_ky 
FROM dbo.Bang_diem a,dbo.Hoc_phan b,dbo.Hoc_ky c 
WHERE a.Ma_hoc_phan=b.Ma_hoc_phan AND c.Ma_hoc_ky=b.Ma_hoc_ky
ORDER BY c.Ten_hoc_ky
END

GO
/****** Object:  StoredProcedure [dbo].[GetListAccount]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetListAccount] as
BEGIN	
	SELECT UserName [Tên đăng nhập], Typename [Kiểu tài khoản] FROM dbo.Account,dbo.AccountType
	WHERE dbo.Account.Type=dbo.AccountType.typeid
END	

GO
/****** Object:  StoredProcedure [dbo].[GetLopHocPhan]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetLopHocPhan]
AS
BEGIN
	SELECT hp.Ma_hoc_phan, hp.Ten_hoc_phan, hp.So_tin_chi, 
	lhp.Ma_lop_hoc_phan, gv. Ma_giao_vien,gv.Ten_giao_vien, 
	lhp.So_sv_toi_da,lhp.Giang_duong,lhp.Ngay_bat_dau, lhp.Ngay_thi, 
	lhp.Hinh_thuc_thi, nh.Tennamhoc,kh.Tenhocky
	FROM dbo.Giao_vien gv,dbo.Hoc_phan hp,dbo.Lop_hoc_phan lhp ,dbo.Namhoc nh,dbo.KyHoc kh
	WHERE lhp.Ma_giao_vien=gv.Ma_giao_vien AND lhp.Ma_hoc_phan=hp.Ma_hoc_phan AND kh.Manamhoc=nh.Manamhoc AND lhp.MaKyHoc=kh.Makyhoc
END

GO
/****** Object:  StoredProcedure [dbo].[GetLopHocPhanByNamHocIDAndHocKyID]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetLopHocPhanByNamHocIDAndHocKyID]
@Namhocid int, @HocKyID int
AS
BEGIN
	SELECT hp.Ma_hoc_phan, hp.Ten_hoc_phan, hp.So_tin_chi, 
	lhp.Ma_lop_hoc_phan, gv. Ma_giao_vien,gv.Ten_giao_vien, 
	lhp.So_sv_toi_da,lhp.Giang_duong,lhp.Ngay_bat_dau, lhp.Ngay_thi, 
	lhp.Hinh_thuc_thi, nh.Tennamhoc,kh.Tenhocky
	FROM dbo.Giao_vien gv,dbo.Hoc_phan hp,dbo.Lop_hoc_phan lhp ,dbo.Namhoc nh,dbo.KyHoc kh
	WHERE lhp.Ma_giao_vien=gv.Ma_giao_vien AND lhp.Ma_hoc_phan=hp.Ma_hoc_phan AND kh.Manamhoc=nh.Manamhoc AND lhp.MaKyHoc=kh.Makyhoc
	AND nh.Manamhoc=@Namhocid AND kh.Makyhoc=@HocKyID
END 

GO
/****** Object:  StoredProcedure [dbo].[GetSinhVien]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetSinhVien]
AS
SELECT * FROM dbo.Sinh_vien

GO
/****** Object:  StoredProcedure [dbo].[InsertLopHocPhan]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[InsertLopHocPhan]
@malophocphan CHAR(10),@Ma_hoc_phan CHAR(10),
	          @Ma_giao_vien CHAR(10),
	          @So_sv_toi_da int,
	          @Ngay_bat_dau DATE,	          
	          @Giang_duong NVARCHAR(20),	          
	          @Ngay_thi DATE,
	          @Hinh_thuc_thi NVARCHAR(30)
AS
BEGIN
	INSERT dbo.Lop_hoc_phan
	        ( Ma_lop_hoc_phan ,
	          Ma_hoc_phan ,
	          Ma_giao_vien ,
	          So_sv_toi_da ,
	          Ngay_bat_dau ,
	          
	          Giang_duong ,
	          
	          Ngay_thi ,
	          Hinh_thuc_thi
	        )
	VALUES  ( @malophocphan , -- Ma_lop_hoc_phan - char(10)
	          @Ma_hoc_phan , -- Ma_hoc_phan - char(10)
	          @Ma_giao_vien , -- Ma_giao_vien - char(10)
	          @So_sv_toi_da , -- So_sv_toi_da - int
	          @Ngay_bat_dau , -- Ngay_bat_dau - date
	          @Giang_duong , -- Giang_duong - nvarchar(20)	          
	          @Ngay_thi , -- Ngay_thi - date
	          @Hinh_thuc_thi  -- Hinh_thuc_thi - nvarchar(30)
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Login]
@username NVARCHAR(100), @passWord NVARCHAR(100) AS
BEGIN
	SELECT * FROM dbo.Account WHERE UserName=@username AND PassWord=@passWord
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccount]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateAccount]
@username NVARCHAR(100), @passWord NVARCHAR(100), @newpassWord VARCHAR(100) AS
BEGIN
	DECLARE @isRightPass INT
    SELECT @isRightPass=COUNT(*) FROM dbo.Account WHERE UserName=@username AND PassWord=@passWord
	IF(@isRightPass=1)
	BEGIN
		UPDATE dbo.Account SET PassWord=@newpassWord WHERE UserName=@username AND PassWord=@passWord
	END 
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateLopHocPhan]    Script Date: 5/17/2018 11:42:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateLopHocPhan]
@malophocphancu CHAR(10), @malophocphanmoi CHAR(10),
			@Ma_hoc_phan CHAR(10),
	          @Ma_giao_vien CHAR(10),
	          @So_sv_toi_da int,
	          @Ngay_bat_dau DATE,	          
	          @Giang_duong NVARCHAR(20),	          
	          @Ngay_thi DATE,
	          @Hinh_thuc_thi NVARCHAR(30)
AS
BEGIN
	UPDATE dbo.Lop_hoc_phan SET Ma_lop_hoc_phan=@malophocphanmoi,Ma_hoc_phan=@Ma_hoc_phan,
    Ma_giao_vien=@Ma_giao_vien, So_sv_toi_da=@So_sv_toi_da, Ngay_bat_dau=@Ngay_bat_dau,
	Giang_duong=@Giang_duong,Ngay_thi=@Ngay_thi, Hinh_thuc_thi=@Hinh_thuc_thi WHERE Ma_lop_hoc_phan=@malophocphancu
END


GO
USE [master]
GO
